In [2]:
using DataFrames, XLSX, DataFramesMeta
using LinearAlgebra
using LightGraphs, SimpleWeightedGraphs

┌ Info: Recompiling stale cache file C:\Users\cilli\.julia\compiled\v1.2\DataFramesMeta\2xRTO.ji for DataFramesMeta [1313f7d8-7da2-5740-9ea0-a2ca25f37964]
└ @ Base loading.jl:1240
┌ Info: Recompiling stale cache file C:\Users\cilli\.julia\compiled\v1.2\LightGraphs\Xm08G.ji for LightGraphs [093fc24a-ae57-5d10-9952-331d41423f4d]
└ @ Base loading.jl:1240
┌ Info: Recompiling stale cache file C:\Users\cilli\.julia\compiled\v1.2\SimpleWeightedGraphs\iIsRI.ji for SimpleWeightedGraphs [47aef6b3-ad0c-573a-a1e2-d07658019622]
└ @ Base loading.jl:1240

# Network Data

In [3]:
Bus = DataFrame(XLSX.readtable("All-Ireland System- WinterPeak 2026 - PSSE Data.xlsx", "BusData", infer_eltypes=true)... );

In [4]:
BusDist =  @linq Bus |>
            where(:kV .<= 38) |>
            select(:Bus,:kV);
size(BusDist)

(1565, 2)

In [5]:
BusTrans =  @linq Bus |>
            where(:kV .> 38) |>
            select(:Bus,:kV);
BusNo=size(BusTrans,1)

545

In [25]:
BranchFrame = DataFrame(XLSX.readtable("IrishSystemData.xlsx", "AC-Line", infer_eltypes=true)... )
show(BranchFrame,allcols = true)

1068×13 DataFrame
│ Row  │ From  │ From Bus  Name     │ To    │ To Bus  Name       │ Id    │
│      │ Int64 │ String             │ Int64 │ String             │ Int64 │
├──────┼───────┼────────────────────┼───────┼────────────────────┼───────┤
│ 1    │ 11    │ FMN LOOP    38.000 │ 42404 │ NORTH_WALL  38.000 │ 1     │
│ 2    │ 12    │ BEDFORD ROW 38.000 │ 25404 │ FRANCIS ST  38.000 │ 1     │
│ 3    │ 12    │ BEDFORD ROW 38.000 │ 25404 │ FRANCIS ST  38.000 │ 3     │
│ 4    │ 12    │ BEDFORD ROW 38.000 │ 46504 │ RINGSEND    38.000 │ 1     │
│ 5    │ 12    │ BEDFORD ROW 38.000 │ 46504 │ RINGSEND    38.000 │ 2     │
│ 6    │ 1021  │ ARDNACRUSHA 110.00 │ 2121  │ DRUMLINE    110.00 │ 1     │
│ 7    │ 1021  │ ARDNACRUSHA 110.00 │ 2361  │ ENNIS       110.00 │ 1     │
│ 8    │ 1021  │ ARDNACRUSHA 110.00 │ 3541  │ LIMERICK    110.00 │ 1     │
│ 9    │ 1021  │ ARDNACRUSHA 110.00 │ 10210 │ ARDNACRUSHA 110.00 │ 1     │
│ 10   │ 1021  │ ARDNACRUSHA 110.00 │ 10261 │ ARDNA_CAP   110.00 │ 1     │
⋮
│ 1058 │ 90011 │ TAND1A      110.00 │ 90512 │ WARN1B      110.00 │ 1     │
│ 1059 │ 90020 │ TANDRAGE    275.00 │ 90320 │ TAMNAMOR    275.00 │ 1     │
│ 1060 │ 90020 │ TANDRAGE    275.00 │ 90320 │ TAMNAMOR    275.00 │ 2     │
│ 1061 │ 90210 │ TREM        110.00 │ 90310 │ TAMNAMOR    110.00 │ 1     │
│ 1062 │ 90230 │ TREM        33.000 │ 90231 │ WIND_CRE    33.000 │ 1     │
│ 1063 │ 90230 │ TREM        33.000 │ 90232 │ WIND_CDU    33.000 │ 1     │
│ 1064 │ 90230 │ TREM        33.000 │ 90233 │ WIND_GOR    33.000 │ 1     │
│ 1065 │ 90230 │ TREM        33.000 │ 90234 │ WIND_INI    33.000 │ 1     │
│ 1066 │ 90230 │ TREM        33.000 │ 90235 │ WIND_ESH    33.000 │ 1     │
│ 1067 │ 90230 │ TREM        33.000 │ 90237 │ WIND_CRD    33.000 │ 1     │
│ 1068 │ 90530 │ WARN3-      33.000 │ 90540 │ PV_LHIL     33.000 │ 1     │

│ Row  │ R       │ X        │ B       │ In Service │ RATE1 (I as MVA) │
│      │ Any     │ Float64  │ Any     │ Int64      │ Int64            │
├──────┼─────────┼──────────┼─────────┼────────────┼──────────────────┤
│ 1    │ 0.0036  │ 0.003915 │ 0.00207 │ 1          │ 100              │
│ 2    │ 0.00534 │ 0.00795  │ 0.00407 │ 1          │ 9999             │
│ 3    │ 0.00594 │ 0.00866  │ 0.00435 │ 1          │ 9999             │
│ 4    │ 0.02132 │ 0.02114  │ 0.00329 │ 1          │ 9999             │
│ 5    │ 0.01937 │ 0.01703  │ 0.00256 │ 1          │ 9999             │
│ 6    │ 0.0286  │ 0.067    │ 0.0059  │ 1          │ 123              │
│ 7    │ 0.0208  │ 0.1072   │ 0.0117  │ 1          │ 210              │
│ 8    │ 0.0071  │ 0.037    │ 0.0116  │ 1          │ 191              │
│ 9    │ 0       │ 0.0001   │ 0       │ 1          │ 999              │
│ 10   │ 0       │ 0.0001   │ 0       │ 1          │ 123              │
⋮
│ 1058 │ 0.0129  │ 0.04244  │ 0.00452 │ 1          │ 113              │
│ 1059 │ 0.00116 │ 0.01085  │ 0.0647  │ 1          │ 881              │
│ 1060 │ 0.0016  │ 0.01085  │ 0.0647  │ 1          │ 881              │
│ 1061 │ 0.02538 │ 0.08197  │ 0.02452 │ 1          │ 193              │
│ 1062 │ 0.141   │ 0.341    │ 0.0012  │ 1          │ 0                │
│ 1063 │ 0.088   │ 0.236    │ 0.0097  │ 1          │ 0                │
│ 1064 │ 0.106   │ 0.127    │ 0.0094  │ 1          │ 0                │
│ 1065 │ 0.067   │ 0.122    │ 0.0032  │ 1          │ 0                │
│ 1066 │ 0.115   │ 0.19     │ 0.0074  │ 1          │ 0                │
│ 1067 │ 0.278   │ 0.631    │ 0.0052  │ 1          │ 0                │
│ 1068 │ 0       │ 0.0001   │ 0       │ 1          │ 9999             │

│ Row  │ RATE2 (I as MVA) │ RATE3 (I as MVA) │ Length │
│      │ Int64            │ Any              │ Any    │
├──────┼──────────────────┼──────────────────┼────────┤
│ 1    │ 100              │ 110              │ 1      │
│ 2    │ 9999             │ 10998.9          │ 1.4    │
│ 3    │ 9999             │ 10998.9          │ 1.52   │
│ 4    │ 9999             │ 10998.9          │ 5.14   │
│ 5    │ 9999             │ 10998.9          │ 3.96   │
│ 6    │ 123              │ 135.3            │ 18.4   │
│ 7    │ 210              │ 231              │ 33     │
│ 8    │ 191              │ 210.1            │ 11.7   │
│ 9    │ 999              │ 1098.9           │ 0      │
│ 10   │ 123              │ 135.3            │ 0      │
⋮
│ 1058 │ 113              │ 113              │ 0      │
│ 1059 │ 881              │ 881              │ 0      │
│ 1060 │ 881              │ 881              │ 0      │
│ 1061 │ 193              │ 193              │ 0      │
│ 1062 │ 0                │ 0                │ 0      │
│ 1063 │ 0                │ 0                │ 0      │
│ 1064 │ 0                │ 0                │ 0      │
│ 1065 │ 0                │ 0                │ 0      │
│ 1066 │ 0                │ 0                │ 0      │
│ 1067 │ 0                │ 0                │ 0      │
│ 1068 │ 9999             │ 9999             │ 0      │

In [26]:
From1 = BranchFrame.From;
To1 = BranchFrame.To
R1 = BranchFrame.R;
X1 = BranchFrame.X;
B1 = BranchFrame.B;

In [27]:
BranchFrame = DataFrame(XLSX.readtable("IrishSystemData.xlsx", "AC-Line", infer_eltypes=true)... )
show(BranchFrame,allcols = true)

1068

In [32]:
filter(row -> BranchFrame ∈ [1,2,3], BranchFrame )

0×49 DataFrame

In [22]:
Gw = SimpleWeightedGraph(BusNo)

{545, 0} undirected simple Int64 graph with Float64 weights

In [64]:
BranchInter1 = Branch[findall(in(BusTrans.Bus), Branch.From),:];
BranchInter1

683×49 DataFrame. Omitted printing of 44 columns
│ Row │ From  │ From Bus  Name     │ To    │ To Bus  Name       │ Id    │
│     │ Int64 │ String             │ Int64 │ String             │ Int64 │
├─────┼───────┼────────────────────┼───────┼────────────────────┼───────┤
│ 1   │ 1021  │ ARDNACRUSHA 110.00 │ 2121  │ DRUMLINE    110.00 │ 1     │
│ 2   │ 1021  │ ARDNACRUSHA 110.00 │ 2361  │ ENNIS       110.00 │ 1     │
│ 3   │ 1021  │ ARDNACRUSHA 110.00 │ 3541  │ LIMERICK    110.00 │ 1     │
│ 4   │ 1021  │ ARDNACRUSHA 110.00 │ 10210 │ ARDNACRUSHA 110.00 │ 1     │
│ 5   │ 1021  │ ARDNACRUSHA 110.00 │ 10261 │ ARDNA_CAP   110.00 │ 1     │
│ 6   │ 1041  │ AGHADA      110.00 │ 5481  │ WHITEGATE   110.00 │ 1     │
│ 7   │ 1042  │ AGHADA      220.00 │ 1052  │ AGHADA_B    220.00 │ 1     │
│ 8   │ 1042  │ AGHADA      220.00 │ 1072  │ AGHT2102    220.00 │ 1     │
│ 9   │ 1042  │ AGHADA      220.00 │ 3202  │ KNOCKRAHA   220.00 │ 1     │
│ 10  │ 1042  │ AGHADA      220.00 │ 4722  │ RAFFEEN     220.00 │ 1     │
⋮
│ 673 │ 87510 │ OMAH1-      110.00 │ 89510 │ STRABANE    110.00 │ 2     │
│ 674 │ 87510 │ OMAH1-      110.00 │ 90210 │ TREM        110.00 │ 1     │
│ 675 │ 90011 │ TAND1A      110.00 │ 90012 │ TAND1B      110.00 │ 1     │
│ 676 │ 90011 │ TAND1A      110.00 │ 90511 │ WARN1A      110.00 │ 1     │
│ 677 │ 90011 │ TAND1A      110.00 │ 90512 │ WARN1B      110.00 │ 1     │
│ 678 │ 90020 │ TANDRAGE    275.00 │ 90420 │ TURLEENA    275.00 │ 1     │
│ 679 │ 90020 │ TANDRAGE    275.00 │ 90420 │ TURLEENA    275.00 │ 2     │
│ 680 │ 90210 │ TREM        110.00 │ 90310 │ TAMNAMOR    110.00 │ 1     │
│ 681 │ 90310 │ TAMNAMOR    110.00 │ 90312 │ TAMN1_SV    110.00 │ 1     │
│ 682 │ 90320 │ TAMNAMOR    275.00 │ 90420 │ TURLEENA    275.00 │ 1     │
│ 683 │ 90320 │ TAMNAMOR    275.00 │ 90420 │ TURLEENA    275.00 │ 2     │

In [66]:
BranchInter2 = Branch[findall(in(BusTrans.Bus), Branch.From),:];
BranchInter2

683×49 DataFrame. Omitted printing of 44 columns
│ Row │ From  │ From Bus  Name     │ To    │ To Bus  Name       │ Id    │
│     │ Int64 │ String             │ Int64 │ String             │ Int64 │
├─────┼───────┼────────────────────┼───────┼────────────────────┼───────┤
│ 1   │ 1021  │ ARDNACRUSHA 110.00 │ 2121  │ DRUMLINE    110.00 │ 1     │
│ 2   │ 1021  │ ARDNACRUSHA 110.00 │ 2361  │ ENNIS       110.00 │ 1     │
│ 3   │ 1021  │ ARDNACRUSHA 110.00 │ 3541  │ LIMERICK    110.00 │ 1     │
│ 4   │ 1021  │ ARDNACRUSHA 110.00 │ 10210 │ ARDNACRUSHA 110.00 │ 1     │
│ 5   │ 1021  │ ARDNACRUSHA 110.00 │ 10261 │ ARDNA_CAP   110.00 │ 1     │
│ 6   │ 1041  │ AGHADA      110.00 │ 5481  │ WHITEGATE   110.00 │ 1     │
│ 7   │ 1042  │ AGHADA      220.00 │ 1052  │ AGHADA_B    220.00 │ 1     │
│ 8   │ 1042  │ AGHADA      220.00 │ 1072  │ AGHT2102    220.00 │ 1     │
│ 9   │ 1042  │ AGHADA      220.00 │ 3202  │ KNOCKRAHA   220.00 │ 1     │
│ 10  │ 1042  │ AGHADA      220.00 │ 4722  │ RAFFEEN     220.00 │ 1     │
⋮
│ 673 │ 87510 │ OMAH1-      110.00 │ 89510 │ STRABANE    110.00 │ 2     │
│ 674 │ 87510 │ OMAH1-      110.00 │ 90210 │ TREM        110.00 │ 1     │
│ 675 │ 90011 │ TAND1A      110.00 │ 90012 │ TAND1B      110.00 │ 1     │
│ 676 │ 90011 │ TAND1A      110.00 │ 90511 │ WARN1A      110.00 │ 1     │
│ 677 │ 90011 │ TAND1A      110.00 │ 90512 │ WARN1B      110.00 │ 1     │
│ 678 │ 90020 │ TANDRAGE    275.00 │ 90420 │ TURLEENA    275.00 │ 1     │
│ 679 │ 90020 │ TANDRAGE    275.00 │ 90420 │ TURLEENA    275.00 │ 2     │
│ 680 │ 90210 │ TREM        110.00 │ 90310 │ TAMNAMOR    110.00 │ 1     │
│ 681 │ 90310 │ TAMNAMOR    110.00 │ 90312 │ TAMN1_SV    110.00 │ 1     │
│ 682 │ 90320 │ TAMNAMOR    275.00 │ 90420 │ TURLEENA    275.00 │ 1     │
│ 683 │ 90320 │ TAMNAMOR    275.00 │ 90420 │ TURLEENA    275.00 │ 2     │

In [69]:
Comparison = BranchInter1.From .== BranchInter2.From;
unique(Comparison)

1-element Array{Bool,1}:
 1

### Define the bus set

In [32]:
Bus = max(length(unique(Branch.From)),length(unique(Branch.To)))

822

### Defining Susceptance Matrix (Laplacian)
##### Note: only Susceptance Matirx is defined for Linear power flow

In [33]:
Gw = SimpleWeightedGraph(BusNo)

for i = 1:size(Branch,1)
    add_edge!(Gw,Branch.From[i],Branch.To[i], 1/Branch.R[i])
end

In [34]:
Aw = Array(weights(Gw))

822×822 Array{Float64,2}:
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 ⋮                        ⋮              ⋱  ⋮                        ⋮
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
Aw = Array(weights(Gw))
Lw = Diagonal(sum(Aw,dims=1)[:])-Aw
B = Lw;

# Generator Location Data

In [5]:
#GenData = DataFrame(a = [0.001562, 0.00194, 0.00482], 
#                b = [7.92, 7.85, 7.97],
#                c = [561, 310, 78],
#                Pmax = [600, 400, 200],
#                Pmin = [150, 100, 50],
#                RampUp = [30,20,30],
#                RampDown = [30,20,30],
#                MinUp = [2,3,2],
#                MinDown = [2,3,2]);

In [6]:
GenData = DataFrame(XLSX.readtable("3-Bus.xlsx", "GenData", infer_eltypes=true)... )

3×11 DataFrame. Omitted printing of 3 columns
│ Row │ Name  │ Type    │ a        │ b       │ c     │ Pmax  │ Pmin  │ RampUp │
│     │ Int64 │ String  │ Float64  │ Float64 │ Int64 │ Int64 │ Int64 │ Int64  │
├─────┼───────┼─────────┼──────────┼─────────┼───────┼───────┼───────┼────────┤
│ 1   │ 1     │ Unknown │ 0.001562 │ 7.92    │ 561   │ 600   │ 150   │ 30     │
│ 2   │ 2     │ Unknown │ 0.00194  │ 7.85    │ 310   │ 400   │ 100   │ 20     │
│ 3   │ 3     │ Unknown │ 0.00482  │ 7.97    │ 78    │ 200   │ 50    │ 30     │

In [7]:
PVar = DataFrame(Bus = [1, 2, 3], Gen = [1,1,1])

Bus = max(maximum(Branch.From),maximum(Branch.To))
Genw = SimpleDiGraph(Bus)

for i = 1:size(PVar,1)
    add_edge!(Genw,PVar.Bus[i],PVar.Gen[i] )
    println(PVar.Bus[i],PVar.Gen[i])
end
AGenw = Array(adjacency_matrix(Genw))

11
21
31

3×3 Array{Int64,2}:
 1  0  0
 1  0  0
 1  0  0

### Define Generator Set

In [8]:
Gen = size(GenData, 1)

3